<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/_head.ejs', { pageTitle: 'CookBook – Home' }) %>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>

    <main class="container hero">
      <div>
        <h1 class="hero__title">Organize your pantry.<br><span class="accent">Share inspiration.</span></h1>
        <p class="hero__subtitle">
          Add items, edit them, and explore other users’ pantries.
        </p>
        <div class="hero__actions">
          <% if (user) { %>
            <a class="btn btn-lg" href="/users/<%= user._id %>/foods">Open My Pantry</a>
            <a class="btn btn-outline btn-lg" href="/users">Explore Community</a>
          <% } else { %>
            <a class="btn btn-lg" href="/auth/sign-up">Get Started</a>
            <a class="btn btn-outline btn-lg" href="/auth/sign-in">Sign In</a>
          <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
